@charset "UTF-8";
@import "./common/var";

.el-badge{

    position: relative;

    vertical-align: middle;

    display: inline-block
}

.el-badge__content{

    background-color: $badge-fill;

    border-radius: $badge-radius;

    color: #fff;

    display: inline-block;

    font-size: $badge-font-size;

    height: $badge-size;

    line-height: $badge-size;

    padding: 0 $badge-padding;

    text-align: center;

    white-space: nowrap;

    border: 1px solid #fff
}

.el-badge__content.is-dot{

    width: 8px;

    height: 8px;

    padding: 0;

    right: 0;

    border-radius: 50%
}

.el-badge__content.is-fixed{

    top: 0;

    right: ($badge-size / 2 + 1);

    position: absolute;

    -ms-transform: translateY(-50%) translateX(100%);

        transform: translateY(-50%) translateX(100%)
}

.el-badge__content.is-fixed.is-dot{

    right: 5px
}
