@charset "UTF-8";
@import "./common/var";

.el-breadcrumb{

    font-size: 13px;

    line-height: 1;
}

.el-breadcrumb:before, .el-breadcrumb:after{

    display: table;

    content: "";
}

.el-breadcrumb:after{

    clear: both;
}

.el-breadcrumb__separator{

    margin: 0 8px;

    color: #c0ccda;
}

.el-breadcrumb__item{

    float: left;

    &:last-child {

        .el-breadcrumb__item__inner,
        .el-breadcrumb__item__inner a {

            &, &:hover {

                color: #99a9bf;

                cursor: text;
            }
        }

        .el-breadcrumb__separator {

            display: none;
        }
    }
}

.el-breadcrumb__item__inner{

    &, & a {

        transition: color .15s linear;

        color:#475669;

        &:hover {

            color: $color-primary;

            cursor: pointer;
        }
    }
}
