@charset "UTF-8";
@import "./common/var";
@import "./common/popup";
@import "./button";
@import "./input";

.el-message-box{
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  width: $msgbox-width;
  border-radius: $msgbox-border-radius;
  font-size: $msgbox-font-size;
  -webkit-user-select: none;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.el-message-box__wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}

.el-message-box__header{
  position: relative;
  padding: 20px 20px 0;
}

.el-message-box__content{
  padding: 30px 20px;
  color: $msgbox-content-color;
  font-size: $msgbox-content-font-size;
  position: relative;
}

.el-message-box__close{
  display: inline-block;
  position: absolute;
  top: 19px;
  right: 20px;
  color: #999;
  cursor: pointer;
  line-height: 20px;
  text-align: center;

  &:hover {
    color: $color-primary;
  }
}

.el-message-box__input{
  padding-top: 15px;

  & input.invalid {
    border-color: $color-danger;

    &:focus {
      border-color: $color-danger;
    }
  }
}

.el-message-box__errormsg{
  color: $color-danger;
  font-size: $msgbox-error-font-size;
  min-height: 18px;
  margin-top: 2px;
}

.el-message-box__title{
  padding-left: 0;
  margin-bottom: 0;
  font-size: $msgbox-font-size;
  font-weight: 700;
  height: 18px;
  color: #333;
}

.el-message-box__message{
  margin: 0;

  & p {
    margin: 0;
    line-height: 1.4;
  }
}

.el-message-box__btns{
  padding: 10px 20px 15px;
  text-align: right;

  & button:nth-child(2) {
    margin-left: 10px;
  }
}

.el-message-box__btns-reverse{
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.el-message-box__status{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  font-size: 36px !important;

  &.el-icon-circle-check {
    color: $msgbox-success-color;
  }

  &.el-icon-information {
    color: $msgbox-info-color;
  }

  &.el-icon-warning {
    color: $msgbox-warning-color;
  }

  &.el-icon-circle-cross {
    color: $msgbox-danger-color;
  }
}

.msgbox-fade-enter-active {
  animation: msgbox-fade-in .3s;
}

.msgbox-fade-leave-active {
  animation: msgbox-fade-out .3s;
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
